
/****** Footer ******/

footer {
    margin-top: 50px;
    display: flex; /* Affichage en mode flexbox */
    justify-content: space-between; /* Pour espacer les colonnes */
    background-color: #f2f2f2; /* Fond gris */
    padding: 20px; /* Espacement à l'intérieur du footer */
    border-top: 1px solid #ccc; /* Bordure supérieure grise */
}

footer div {
    flex: 1; /* Pour que chaque colonne occupe le même espace */
    padding: 0 20px; /* Espacement à l'intérieur de chaque colonne */
}

footer h2 {
    margin-bottom: 10px; /* Espacement en bas du titre */
}

footer ul {
    list-style-type: none; /* Suppression des puces de liste */
    padding: 0; /* Suppression des marges intérieures de la liste */
}

footer ul li {
    margin-bottom: 10px; /* Espacement entre chaque élément de liste */
}

footer ul li a {
    text-decoration: none; /* Suppression du soulignement des liens */
    color: #333; /* Couleur du texte des liens */
    transition: color 0.3s; /* Transition fluide de la couleur du texte */
}

footer ul li a:hover {
    color: #0065FC; /* Couleur du texte des liens au survol */
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {}