
/****** Footer ******/

.liens-footer .titre {
    font-size: 18px;
    font-weight: bold;
}

.liens-footer ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 20px;
    font-size: 16px;
    height: 163px;
}

.liens-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.liens-footer li {
    padding-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {
    footer .liens-footer {
        display: block;
    }
}