
/*****header*****/

.liste_nav li {
    margin-right: 68px;
    padding-top: 20px;
}

.liste_nav li:hover {
    border-top: #0065FC solid 2px;
    color: #0065FC;
    padding-top: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liste_nav {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.liste_nav li:last-child {
    margin-right: 0;
}

img.logo-container {
    width: 61px;
    height: 19px;
}

.header,
.menu-container {
    height: 79px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {


    header nav div a {
        text-align: center;
        width: 100%;
    }
     
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {

    .liste_nav {
        margin: 0;
    }

    .liste_nav li {
        width: 50%;
        margin: 0;
        text-align: center;
        border-bottom: #f2f2f2 solid 2px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .liste_nav a {
        width: 100%;
        margin: 0;
    }


    .liste_nav li:hover {
        border-bottom: #0065FC solid 2px;
        border-top: none;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    header {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .logo-container {
        padding-top: 30px;
        margin-bottom: 20px;
    }

    .menu-container {
        width: 100%;
    }

}