
/*hebergement et populaire*/

.hebergements-and-populaires {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.hebergements {
    flex-wrap: wrap;
    display: flex;
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.populaires {
    flex-wrap: wrap;
    display: flex;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 30%;
    padding: 30px;
}

.card:hover {
    transform: translateY(-5px);
}

/* CARDS HEBERGEMENTS */



.hebergements-title {
    width: 100%;
    margin: 30px;
}

.hebergement-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 30px;
}

.hebergement-cards a {
    width: 30%;
}

.hebergement-cards a article {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-bottom: 30px;
}

.hebergement-cards a article img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.hebergement-cards a article .card-content {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

.hebergement-cards a article .card-content h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.hebergement-cards a article .card-content p {
    font-size: 14px;
    margin-bottom: 15px;
}

.card-rating {
    object-fit: cover;
}

.neutral-star {
    color: #ccc; /* Couleur grise pour les étoiles neutres */
}

.fa-xs {
    font-size: 14px; /* Taille de police des étoiles */
}

.sr-only {
    position: absolute; /* Place l'élément hors de l'écran */
    width: 1px; /* Largeur de 1 pixel */
    height: 1px; /* Hauteur de 1 pixel */
    padding: 0; /* Pas de rembourrage */
    margin: 0px; /* Marge négative pour cacher l'élément */
    overflow: hidden; /* Cache tout contenu débordant */
    white-space: nowrap; /* Empêche les retours à la ligne */
    border: 0; /* Pas de bordure */
}

.footer {
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

/****** Populaires ******/

.populaires h2 {
    width: 90%;
    height: 0;
    display: flex;
    margin-top: 0; /* Réduit la marge supérieure à 0 */
}

.populaires i {
    margin-top: 5px;
}

.populaires a {
    width: 100%;
}

.populaires .card {
    border-radius: 20px;
}

.populaires-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.populaires-cards .card {
    width: 100%;
    height: 146px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 25px;
}

.populaires-cards img {
    width: 35%;
    border-radius: 20px 0 0 20px;
    padding: 5px;
    object-fit: cover;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards h3 {
    font-size: 16px;
    margin-top: 10px;
}

.populaires-cards p {
    font-size: 14px;
    margin-top: 10px;
}

.card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        height: 252px;
    }

    .populaires h2 {
        width: 95%;
        height: 0px;
        display: flex;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
    }

    .populaires-cards img {
        width: 35%;
        border-radius: 20px 0 0 20px;
        padding: 5px;
        object-fit: cover;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}