
/* BARRE DE RECHERCHE */
.formulaire {
    margin-top: 35px;
    margin-bottom: 35px;
}

.formulaire-recherche {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.formulaire input {
    height: 49px;
}

.fa-solid.fa-location-dot {
    color: black;
    background: #F2F2F2;
    height: 49px;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#localisation {
    border: #F2F2F2 solid 1px;
    height: 46px;
    width: 195px;
}

#localisation::placeholder {
    font-size: 18px;
    color: black;
    font-weight: bold;
    opacity: 1;
    text-align: center;
}

#localisation:focus {
    outline: none;
}

#bouton-rechercher {
    font-size: 18px;
    color: white;
    background-color: #0065FC;
    text-align: center;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    border: solid #0065FC;
    width: 132px;
}

#bouton-rechercher-mobile {
    display: none;
}

#bouton-rechercher:active {
    transform: translateY(1px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#localisation[type="text"] {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {
    /* ... */

    .parametres-recherche {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 30px;
    }

    #bouton-rechercher {
        display: none;
    }

    #bouton-rechercher-mobile {
        font-size: 18px;
    color: white;
    background-color: #0065FC;
    text-align: center;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    border: solid #0065FC;
    width: 132px;
    }

    .barre-filtres button {
        width: 162px;
    }

    #localisation {
        width: 100%;
        border-right: none;
    }
}