/*****header*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles pour le header */
  header {
    background-color: #ffffff; /* Couleur de fond du header */
    color: white; /* Couleur du texte */
    padding: 10px; /* Espacement interne */
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    justify-content: space-between; /* Alignement des éléments sur les côtés */
    align-items: center; /* Centre les éléments verticalement */
  }
  
  /* Styles pour les liens du header */
  header a {
    color: black; /* Couleur des liens */
    text-decoration: none; /* Supprime les soulignements des liens */
    margin-left: 20px; /* Espacement entre les liens */
    }
  
  /* Styles pour les liens de droite */
  .header-right {
    margin-left: auto; /* Déplace les éléments vers la droite */
  }
  
  .header-right a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC; /* Ajoute une bordure supérieure bleue de 5 pixels */
    padding-top: 5px; /* Ajoute un espace en haut du contenu pour compenser la bordure */
  }

  img {
    width: 50%;
    height: auto;
    border-top: none;
}

.text-trouver-hebergement {
    font-size: 22px;
    padding-top: 26px;
    padding-bottom: 10px;
}

.plein-centre {
    font-size: 16px;
    padding-bottom: 49px;
}

/* Style de la barre de recherche */
.barre-recherche {
    display: flex;
    align-items: center;
    width: 370px;
    height: 40px;
    border: 0.5px solid #f2f2f2;
    border-radius: 15px;
    overflow: hidden;
    
}

/* Style du conteneur d'icône */
.icon-container {
    width: 40px; /* Largeur du carré */
    height: 40px; /* Hauteur du carré */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

/* Style de l'icône */
.icon {
    font-size: 20px;
}

/* Style de la zone de texte */
.barre-recherche input[type="text"] {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
}

/* Style du bouton de recherche */
.barre-recherche button[type="submit"] {
    background-color: #0065FC; /* Couleur de fond bleue */
    color: white; /* Couleur du texte blanc */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 15px 15px 0; /* Arrondi seulement sur le côté droit */
}

/* Style lorsque le bouton est survolé */
.barre-recherche button[type="submit"]:hover {
    background-color: darkblue; /* Changer la couleur de fond au survol */
}


.containercircle {
    display: flex;
    align-items: center;
}

.info-circle {
    display: inline-block;
    width: 23px; /* Diamètre du cercle */
    height: 23px; /* Diamètre du cercle */
    border-radius: 50%; /* Pour créer un cercle */
    background-color: #007bff; /* Couleur de fond du cercle */
    text-align: center;
    line-height: 27px; /* Centrage vertical */
    color: white; /* Couleur de l'icône */
}
 
.info-icon {
    font-size: 20px; /* Taille de l'icône */
}

.text-500-logement{
    color: black;
    margin-left: 10px;
}
/* 
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
} */

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hebergements-cards .card {
    /* width: calc(33.33% - 20px); Chaque carte occupe environ un tiers de l'espace disponible avec un espace de 20px entre elles */
    margin-bottom: 20px;
    background-color: #fff; /* Couleur de fond de la carte */
    border: 1px solid #ddd; /* Bordure de la carte */
    border-radius: 5px; /* Coins arrondis de la carte */
    /* overflow: hidden; Cache tout contenu débordant */
}

.card img {
    width: 100%; /* L'image de la carte remplit toute la largeur de la carte */
    height: auto; /* Ajuste automatiquement la hauteur pour conserver les proportions */
}

.card-content {
    padding: 20px; /* Rembourrage intérieur du contenu de la carte */
}

.card-title {
    margin-top: 0; /* Supprime la marge supérieure du titre */
    margin-bottom: 10px; /* Ajoute un peu d'espace en dessous du titre */
    font-size: 18px; /* Taille de police du titre */
    color: #333; /* Couleur du texte du titre */
}

.card-subtitle {
    margin-top: 0; /* Supprime la marge supérieure du sous-titre */
    margin-bottom: 15px; /* Ajoute un peu d'espace en dessous du sous-titre */
    font-size: 16px; /* Taille de police du sous-titre */
    color: #666; /* Couleur du texte du sous-titre */
}

.card-rating {
    display: flex; /* Affiche les étoiles en ligne */
}

.neutral-star {
    color: #ccc; /* Couleur grise pour les étoiles neutres */
}

.fa-xs {
    font-size: 14px; /* Taille de police des étoiles */
    margin-right: 3px; /* Espacement entre les étoiles */
}

.sr-only {
    position: absolute; /* Place l'élément hors de l'écran */
    width: 1px; /* Largeur de 1 pixel */
    height: 1px; /* Hauteur de 1 pixel */
    padding: 0; /* Pas de rembourrage */
    margin: 0px; /* Marge négative pour cacher l'élément */
    overflow: hidden; /* Cache tout contenu débordant */
    clip: rect(0, 0, 0, 0); /* Cache l'élément */
    white-space: nowrap; /* Empêche les retours à la ligne */
    border: 0; /* Pas de bordure */
}

.hebergements img {
    display: flex;
}




























/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}