/*****header*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  
  /* Styles pour le header */
  header {
    background-color: #ffffff; /* Couleur de fond du header */
    color: white; /* Couleur du texte */
    padding: 10px; /* Espacement interne */
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    justify-content: space-between; /* Alignement des éléments sur les côtés */
    align-items: center; /* Centre les éléments verticalement */
  }
  
  /* Styles pour les liens du header */
  header a {
    color: black; /* Couleur des liens */
    text-decoration: none; /* Supprime les soulignements des liens */
    margin-left: 20px; /* Espacement entre les liens */
    }
  
  /* Styles pour les liens de droite */
  .header-right {
    margin-left: auto; /* Déplace les éléments vers la droite */
  }
  
  .header-right a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC; /* Ajoute une bordure supérieure bleue de 5 pixels */
    padding-top: 5px; /* Ajoute un espace en haut du contenu pour compenser la bordure */
  }

  img {
    width: 50%;
    height: auto;
    border-top: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


.text-trouver-hebergement {
    font-size: 22px;
    padding-top: 26px;
    padding-bottom: 10px;
}

.plein-centre {
    font-size: 16px;
    padding-bottom: 49px;
}

/* BARRE DE RECHERCHE */

/* Style de la barre de recherche */
.barre-recherche {
    display: flex;
    align-items: center;
    width: 370px;
    height: 40px;
    border: 0.5px solid #f2f2f2;
    border-radius: 15px;
    overflow: hidden;
    
}

/* Style du conteneur d'icône */
.icon-container {
    width: 40px; /* Largeur du carré */
    height: 40px; /* Hauteur du carré */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.icon-container .fa-location-dot {
color: black;
}

/* Style de l'icône */
.icon {
    font-size: 20px;
}



/* Style de la zone de texte */
.barre-recherche input[type="text"] {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
}

/* Style du bouton de recherche */
.barre-recherche button[type="submit"] {
    background-color: #0065FC; /* Couleur de fond bleue */
    color: white; /* Couleur du texte blanc */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 15px 15px 0; /* Arrondi seulement sur le côté droit */
}

/* Style lorsque le bouton est survolé */
.barre-recherche button[type="submit"]:hover {
    background-color: darkblue; /* Changer la couleur de fond au survol */
}

/* Filtres */

.container-filtres {
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    align-items: center; /* Aligner les éléments verticalement */
}

.Filtres {
    padding-top: 15px;
}

.bouton-economique {
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 25Px;
    padding: 10px 20px; /* Ajustez les valeurs de padding pour agrandir le bouton */
    font-size: 17px; /* Ajustez la taille de la police selon vos besoins */
    font-weight: bold; /* Mettre le texte en gras */
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 20px;
}

.bouton-Familial {
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 25Px;
    padding: 10px 20px; /* Ajustez les valeurs de padding pour agrandir le bouton */
    font-size: 17px; /* Ajustez la taille de la police selon vos besoins */
    font-weight: bold; /* Mettre le texte en gras */
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.bouton-Romantique {
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 25Px;
    padding: 10px 20px; /* Ajustez les valeurs de padding pour agrandir le bouton */
    font-size: 17px; /* Ajustez la taille de la police selon vos besoins */
    font-weight: bold; /* Mettre le texte en gras */
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.bouton-Nos-Pépites {
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 25Px;
    padding: 10px 20px; /* Ajustez les valeurs de padding pour agrandir le bouton */
    font-size: 17px; /* Ajustez la taille de la police selon vos besoins */
    font-weight: bold; /* Mettre le texte en gras */
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.bouton-economique:hover {
    background-color: #deebff;
}

.bouton-Familial {
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 25Px;
}

.bouton-Familial:hover {
    background-color: #deebff;
}

.bouton-Romantique {
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 25Px;
}

.bouton-Romantique:hover {
    background-color: #deebff;
}

.bouton-Nos-Pépites {
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 25Px;
}

.bouton-Nos-Pépites:hover {
    background-color: #deebff;
}

/* ICONE INFO ET TEXTE */

.containercircle {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.info-circle {
    display: inline-block;
    width: 24px; /* Diamètre du cercle */
    height: 24px; /* Diamètre du cercle */
    border-radius: 50%; /* Pour créer un cercle */
    background-color: #007bff; /* Couleur de fond du cercle */
    text-align: center;
    line-height: 27px; /* Centrage vertical */
    color: white; /* Couleur de l'icône */
}
 
.info-icon {
    font-size: 20px; /* Taille de l'icône */
}

.text-500-logement{
    color: black;
    margin-left: 10px;
}

/*hebergement et populaire*/

.hebergements-and-populaires {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.hebergement {
    margin-right: 30px; /* Ajoute un espace de 10px entre les deux sections */
}

.populaires {
    margin-left: 30px;
    width: 429px; /* Largeur de la section des populaires */
}

/* CARDS HEBERGEMENTS */


.background-hebergement {
    border-radius: 15px;
    width: 871px;
    height: 614px;
    background-color: #f0f0f0;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

.hebergements-title {
    position: absolute;
    top: 30px;
    left: 30px;
    font-weight: bold;
}

.grid-container-hebergements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 207.25px);
    grid-gap: 30px;
}

/* Styles pour les cartes Hebergement*/

.hebergements {
    width: 65%;
}
.hebergements-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}
.hebergements img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 4px;
}

.card-hebergement {
    width: 250.33px;
    height: 207.25px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
}

.card-hebergement:hover {
    transform: translateY(-5px);
}

.card-details {
    padding: 5px;
    margin-left: 5px;
    background-color: #fff;
}

.hotel-title {
    font-size: 16px;
    margin-top: 0;
    font-weight: bold;
}

.price {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.card-rating {
    margin-top: 5px;
    margin-left:10px;
    display: flex; /* Affiche les étoiles en ligne */
}

.neutral-star {
    color: #ccc; /* Couleur grise pour les étoiles neutres */
}

.fa-xs {
    font-size: 14px; /* Taille de police des étoiles */
    margin-right: 3px; /* Espacement entre les étoiles */
}

.sr-only {
    position: absolute; /* Place l'élément hors de l'écran */
    width: 1px; /* Largeur de 1 pixel */
    height: 1px; /* Hauteur de 1 pixel */
    padding: 0; /* Pas de rembourrage */
    margin: 0px; /* Marge négative pour cacher l'élément */
    overflow: hidden; /* Cache tout contenu débordant */
    clip: rect(0, 0, 0, 0); /* Cache l'élément */
    white-space: nowrap; /* Empêche les retours à la ligne */
    border: 0; /* Pas de bordure */
}

.footer {
    position: absolute;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
    font-weight: bold
}

/****** Populaires ******/

.background-populaires {
    width: 429px; 
    height: 614px;
    background-color: #f2f2f2; /* Fond gris */
    padding: 20px; /* Espacement à l'intérieur */
    border-radius: 15px; /* Coins arrondis */
}

.card {
    width: 369px; 
    height: 146px;
    background-color: #fff; /* Fond blanc */
    border-radius: 20px; /* Coins arrondis */
    overflow: hidden; /* Pour cacher le débordement de l'image */
    display: flex; /* Pour aligner l'image et le texte */
}

.card:hover {
    transform: translateY(-5px);
}

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: -10px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 14  gvv6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0px;
}

.populaires-cards .card-rating {
    margin-bottom: 20px;
}

/****** Activités ******/

#ancre-activites section {
    display: flex; /* Utilisation de flexbox */
    gap: 20px; /* Espacement entre les cartes */
    padding-left: 30px;
}

.activites-titre {
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.activite-card {
    width: 297.5px;
    height: 430px;
    background-color: #FFFFFF; /* Fond blanc */
    text-align: center;
    text-decoration: none;
    color: inherit;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombrage gris */
}

.activite-card img {
    width: 100%; /* Pour remplir la largeur de la carte */
    height: 380px; /* Hauteur de l'image ajustée */
    object-fit: cover; /* Pour couvrir toute la zone de l'image */
    border-radius: 20px 20px 0 0;
    padding: 5px;
}


.activite-card p {
    text-align: center; /* Pour centrer le texte */
    margin: 0; /* Pour supprimer les marges par défaut du paragraphe */
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

.activite-card:hover {
    transform: translateY(-5px);
}

/****** Footer ******/

footer {
    margin-top: 50px;
    display: flex; /* Affichage en mode flexbox */
    justify-content: space-between; /* Pour espacer les colonnes */
    background-color: #f2f2f2; /* Fond gris */
    padding: 20px; /* Espacement à l'intérieur du footer */
    border-top: 1px solid #ccc; /* Bordure supérieure grise */
}

footer div {
    flex: 1; /* Pour que chaque colonne occupe le même espace */
    padding: 0 20px; /* Espacement à l'intérieur de chaque colonne */
}

footer h2 {
    margin-bottom: 10px; /* Espacement en bas du titre */
}

footer ul {
    list-style-type: none; /* Suppression des puces de liste */
    padding: 0; /* Suppression des marges intérieures de la liste */
}

footer ul li {
    margin-bottom: 10px; /* Espacement entre chaque élément de liste */
}

footer ul li a {
    text-decoration: none; /* Suppression du soulignement des liens */
    color: #333; /* Couleur du texte des liens */
    transition: color 0.3s; /* Transition fluide de la couleur du texte */
}

footer ul li a:hover {
    color: #0065FC; /* Couleur du texte des liens au survol */
}